/* Inserta tu CSS aqui */
*{
 outline:1px solid  #d9534f;
}
/*-----cabesera---*/
.yo ul li{
   margin-right:30px ;
    display: inline-block;
}
.yo a{
    text-decoration: none;
    color: black;
    font-family: 'Prociono', serif;
    font-size: 20px;
    
}
.yo{
    text-align: center;
}
/*--------------SECCION UNO-----*/
.uno {
    background-image: url(../images/maxresdefault.jpg);
    background-repeat: no-repeat;
    height: 600px; 
    text-align: center;
}
.uno img{
      position: relative;
    
   
    width: 120px;  
}

.dos{
    background-image: url(../images/tile1.png)
}
